@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;800&display=swap');

* {
  color: rgb(63, 207, 63);
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  background-color: white;
}

a {
  text-decoration: none;
  vertical-align: middle;
  height: 100%;
}

.body{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

h1{
  margin-top: 0.1rem;
}

