#trip-modal{
  display: flex;
  flex-direction: column;
  width: 30rem;
  position: fixed;
  top : 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  text-align: center;
  justify-content: center;
  border: 2px solid rgb(63, 207, 63);
  border-radius: 1rem;
  height: 30rem;
}

#trip-modal label{
  display: flex;
  padding: 3px 0px;
}
#trip-modal span {
  display: inline-block;
  font-size: 1rem;
  width: 8rem;
  font-weight:500;
}
#trip-modal input {
  width: 20rem;
  border: 1px solid rgb(63, 207, 63);
  outline: none;
}
#trip-modal select {
  border: 1px solid rgb(63, 207, 63);
}

.modal-button{
  background-color: white;
  border: 0.15rem solid rgb(63, 207, 63);
  margin: 15px 2px;
  border-radius: 5px;
}
.modal-button:hover{
  color: gray;
}