#date-div{
  margin-top: 2rem;
  text-align: right;
}
#date-div input{
  border: 1px solid;
  text-align: center;
  border-radius: 0.5rem;
}

#date-div select{
  border: 1px solid;
  text-align: center;
  border-radius: 0.5rem;
}