#rank-fes-list{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  height: 12rem;
  width: 99%;
}

#rank-item{
  width: 15rem;
  height: 10rem;
  position: relative;
  border-radius: 10px;
  margin: 1rem 1rem;
}

.img-item img{
  width: 15rem;
  height: 10rem;
  display: block;
  border-radius: 10px;
  z-index: 1;
}
.fes-info{
  width: 15rem;
  height:3.4rem;
  font-size: 0.7rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.719);
  position: absolute;
  bottom: 0;
  left: 0;
}
.fes-info p {
  margin: 0;
  color: green;
  margin-left: 1rem;
}