footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  height: 3.5rem;
  background-color: white;
}
#link-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
}
#link-ul{
  padding-left: 0px;
  display: flex;
  list-style: none;
  text-align: center;
}

#link-ul li {
  padding: 5px;
  color: black;
}

.footer-text {
  font-size: 0.8rem;
}