.search-bar-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #006400; 
  border-radius: 5px;
  padding: 10px;
}

.search-bar select,
.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; 
  border: none;
  display: flex;
  align-items: center;
}

.search-bar button:hover {
  color: #006400; 
}

.search-results table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-top: 1px solid #006400;
  border-bottom: 1px solid #006400;

  table-layout: fixed; /* 테이블 레이아웃 고정 */
}

.search-results th,
.search-results td {
  padding: 10px;
  text-align: center; 
  vertical-align: middle; 
}

.search-results th{
  border-bottom: 1px solid #006400; 
}

.search-results tr:nth-child(2n){
  border-top: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
}

.search-results th {
  background-color: #f0fff0; 
  color: #006400; 
  font-weight: bold;
}

.search-results td {
  background-color: #ffffff; 
  color: #000000; 
}

.search-results td.path {
  padding: 0;
  height: 50px; /* 셀 높이 조정 */
  width: 120px; /* 셀 너비 조정 */
}

.search-results button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid rgb(0, 196, 0);
  border-radius: 1rem;
  background-color: white;
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.search-results button:hover {
  background-color: #f0f0f0;
}

.no-results {
  color: green;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
