.UserDataDiv {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: #EEEFF1;
  border-radius: 5px;
  padding: 20px;
}

h2 {
  text-align: center;
}


tr {
  text-align: right;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

.td1 {
  width: 15%;
}

.td2 {
  width: 74%;
}

.td3 {
  width: 15%;
}

